

    <!-- <button (click)= "linkWallet()"> Connect Wallet</button> -->
    <!-- <button (click)= "buyData()"> Buy</button>
    <button (click)= "uploadData()"> Upload Data</button>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    <button type="button" class="btn btn-secondary btn-sm">Small button</button> -->
    

    <div class="container">

        <h5>Upload Data</h5>

        <h5>Purchase Raw Data</h5>
        <div class="row rawData">
            <ng-template ngFor let-rawData [ngForOf]="rawDataList" let-i="index" >
                <div class="col-sm-6 py-2">
                    <div class="card h-100 border-primary">
                        <div class="card-body">
                            <!-- <h3 class="card-title">{{rawData.dataId}}</h3> -->
                            <h4 class="card-title">Data name: {{rawData.dataName}}</h4>
                            <h4 class="card-title">Price: {{rawData.price}}</h4>
                            <p class="card-text">Description: {{rawData.dataDesc}}</p>
                            <button (click)="buyData(rawData.dataId)" class="btn btn-primary">Purchase now</button>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>

        <h5>Purchase ML Data</h5>



    </div>